<form [formGroup]="form" (ngSubmit)="submit()">

  <mat-form-field>
    <mat-label>Name:</mat-label>
    <input matNativeControl type="text" matInput formControlName="name" placeholder="Enter you name" required>
  </mat-form-field><br/>

  <mat-form-field>
    <mat-label>Email:</mat-label>
    <input matNativeControl type="email" matInput formControlName="email" placeholder="Enter you email" required>
  </mat-form-field><br/>

  <mat-form-field>
    <mat-label>Password:</mat-label>
    <input matNativeControl type="password" matInput formControlName="password" placeholder="Enter you password" required>
  </mat-form-field><br/>

  <mat-form-field>
    <mat-label>Type:</mat-label>
    <select matNativeControl required formControlName="type">
      <option value="builder">Builder</option>
      <option value="client">Client</option>
    </select>
  </mat-form-field><br/>

  <div>{{ isSubmitting$ | async }}</div>
  <button mat-button color="primary" [disabled]="(isSubmitting$ | async) && form.invalid">Sing Up</button>
</form>
